<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name ="SqliteConnectionString"
		providerName="System.Data.Sqlite"
		connectionString="Data Source= ./Database.Db"/>
	</connectionStrings>

	<appSettings>
		<!--serialog-->
		<add key="general:serilog:minimum-level" value="Verbose"/>

		<!--serilog sqlite-->
		<add key="sqlite:serilog:using:SQLite" value="Serilog.Sinks.SQLite"/>
		<add key="sqlite:serilog:write-to:SQLite.sqliteDbPath" value="Database.db"/>
		<add key="sqlite:serilog:write-to:SQLite.tableName" value="Logs"/>
		<add key="sqlite:serilog:write-to:SQLite.storeTimestampInUtc" value="false"/>
		<add key="sqlite:serilog:write-to:SQLite.autoCreateSqlTable" value="true"/>

	</appSettings>
</configuration>